<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="../assets/CSS/style.css" />
  </head>
  <body>
    <header>
      <h1>Blog Posts</h1>
      <!-- Navigation -->
      <nav>
        <ul>
          <li>
            <a href="../index.html">Home</a>
          </li>
          <li>
            <a href="./contact.html">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <article>
        <section>
          <!-- Hamburger -->
          <div class="hamburger">
            <h3>Hamburger</h3>
            <img src="../assets/Images/hamburger.jpg" alt="hamburger" />
            <p>
              Learn how to cook hamburger <a href="./hamburger.html">here</a>
            </p>
          </div>
          <br />
        </section>

        <section>
          <!-- French toast -->
          <div class="french-toast">
            <h3>French Toast</h3>
            <img src="../assets/Images/french-toast.jpg" alt="french toast" />
            <p>
              Learn how to cook french toast french toast
              <a href="./french-toast.html">here</a>
            </p>
          </div>
          <br />
        </section>

        <section>
          <!-- Pancakes -->
          <div class="pancakes">
            <h3>Pancakes</h3>
            <img src="../assets/Images/pancakes.jpg" alt="pancakes" />
            <p>Learn how to cook pancakes <a href="./pancakes.html">here</a></p>
          </div>
        </section>
      </article>
    </main>

    <footer>
      <h4>Recipe by head chef</h4>
      <p><em>All rights reserved</em></p>
    </footer>
  </body>
</html>
