<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pancakes</title>
    <link rel="stylesheet" href="../assets/CSS/style.css" />
  </head>
  <body>
    <!-- Header -->
    <header>
      <h1>Hamburger</h1>

      <!-- Navigation -->
      <nav>
        <li>
          <a href="../index.html">Home</a>
        </li>
        <li>
          <a href="./blog.html">Blog</a>
        </li>
      </nav>
    </header>
    <hr />

    <!-- Main -->
    <main>
      <article>
        <section>
          <h3>Hamburger</h3>
          <img src="../assets/Images/pancakes.jpg" alt="hamburger" />
        </section>

        <section>
          <h3>Ingredients</h3>

          <ul>
            <li>Buns</li>
            <li>Patty</li>
            <li>Cheese</li>
            <li>Lettuce</li>
            <li>Tomato</li>
            <li>Bacon</li>
            <li>Sauce</li>
          </ul>
        </section>

        <section>
          <h3>Instructions</h3>

          <ol>
            <li>Cook Patty</li>
            <li>Heat buns</li>
            <li>Place cheese</li>
            <li>Place cooked patty</li>
            <li>Place lettuce</li>
            <li>Place tomato</li>
            <li>Place bacon</li>
            <li>Put the sauce</li>
          </ol>
          <hr />
        </section>
      </article>
    </main>

    <footer>
      <h4>Recipe by head chef</h4>
      <p><em>All rights reserved</em></p>
    </footer>
  </body>
</html>
